nav{
    position: absolute;
    background:transparent;

    
}
.header{
    height: 100vh;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%),url('https://assets.nflxext.com/ffe/siteui/vlv3/df6621a3-890c-4ca0-b698-90bd5152f3d1/20a59be7-7062-4991-bca0-805e9a7f2716/IN-en-20240107-trifectadaily-perspective_alpha_website_large.jpg');
}
.content{
    color: #fff;
    background-color: #000;
    height: 70vh;
}
.tv_img{
    position:absolute;
}
.tv_vid{
    position: absolute;
    margin-top: 100px;
    margin-left: 83px;
    
}
.mac_img{
    position:absolute;
    margin-top: 100px;
    width: 600px;
}
.mac_vid{
    position: absolute;
    margin-top: 140px;
    margin-left: 110px;
    width: 370px;
}
.content-main{
    background-color: #000;
    
}
hr{
    height: 8px !important;
    margin: 0px !important;;
    border-color: darkgray !important;;
    opacity: 1 !important;; 
}